/* ================= ABOUT ================= */

.about-section {
  padding: 80px 0;
  background: #fff;
}

/* SOL */

.about-content {
  max-width: 520px;
}

.about-subtitle {
  color: #676A73;
  display: block;
}

.about-title {
  font-weight: 700;
  color: var(--secondary);
}

.about-desc {
  font-size: 14px;
  line-height: 1.6;
  color:#2A2C31;
}

.btn-detail{
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.detail-right-icon{
  background-color: var(--dark);
  -webkit-mask: url("../assets/icons/right.svg") no-repeat center / contain;
  mask: url("../assets/icons/right.svg") no-repeat center / contain;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

  .about-section {
    padding: 60px 0;
  }

  .about-content {
    text-align: center;
    margin: 0 auto 40px;
  }
}
