/* ================= ABOUT ================= */

/* SOL */

.about-content {
  max-width:620px;
}

.btn-detail{
    width: 150px;
    height: 50px;
    font-size: var(--font-lg);
}

.detail-right-icon{
  /*background-color: var(--dark);*/
  mask: url("../assets/icons/right.svg") no-repeat center / contain;
}

