/* ================= CTA ================= */

.cta-section {
  margin-top: 50px;
}

.cta-wrapper {
  position: relative;
  background-image: url("/assets/images/cta_bg.jpg");
  border-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible; 
}

/* LEFT IMAGE */

.cta-left {
  max-width: 450px;
}

/* ICON */

.cta-icon img {
  filter: brightness(0) saturate(100%) invert(16%) sepia(90%) saturate(2500%)
    hue-rotate(350deg);
}

/* BUTTON */

.cta-section .btn-danger {
  font-size: 14px;
  padding: 10px 26px;
}

/* RIGHT IMAGE POSITION FIX */

.cta-stack {
  position: absolute;
  right: -40px;  /* section dışına taşır */
  bottom: -120px;
  max-width: 300px;
}


.cta-wrapper .col-lg-3:last-child {
  position: relative;
}

.cta-wrapper .col-lg-3:last-child img {
  position: absolute;
  bottom: -160px;
  right: 25px;
  max-width: 300px;
}

/* ================= MOBILE ================= */
@media (max-width: 992px) {

  .cta-stack {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 260px;
    margin-top: 20px;
  }



  .cta-section {
    margin-top: 30px;
  }

  .cta-left {
    max-width: 350px;
  }

  .cta-wrapper {
    border-radius: 0;
    padding: 30px 15px;
  }

  /* SIRALAMA */
  .cta-wrapper .col-lg-3:first-child {
    order: 1;
  }

  .cta-wrapper .col-lg-6 {
    order: 2;
  }

  .cta-wrapper .col-lg-3:last-child {
    order: 3;
  }

  /* SOL RESİM */
  .cta-left-mobile {
    display: block;
    max-width: 220px;
    margin-bottom: 20px;
  }

  /* SAĞ RESİM */
  .cta-wrapper .col-lg-3:last-child img {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: 275px;
    margin-top: 20px;
  }
}
