/* ===============================
   FOOTER
================================ */

.site-footer {
  background: var(--dark);
  color: #fff;
  padding: 48px 0;
}

.site-footer a {
  color: var(--light);
}
