/* ================= FOOTER ================= */

.site-footer {
  background: #161F3C;
  color: #fff;
}

.site-footer a {
  color: var(--light);
}
.footer-desc {
  font-size: 13px;
}

/* Button SVG base */

.icon-id-card {
  mask-image: url("../assets/icons/id-card.svg");
}
.icon-location {
  mask-image: url("../assets/icons/location.svg");
}
.icon-send-email {
  width: 14px !important;
  mask-image: url("../assets/icons/export-email.svg");
}
