/* ================= HEADER BASE ================= */

.site-header {
  position: relative;
  width: 100%;
  z-index: 50;
}

/* ================= LOGO ================= */

.logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 50px;
  background: #fff;
  border-top-right-radius: 90px;
  z-index: 10;
}

.logo-overlay a {
  position: absolute;
  inset: 0;
  width: 260px;
  height: 124px;
  background: var(--secondary);
  border-top-right-radius: 80px; /* FİGMA DETAY */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-overlay img {
  width:200px;
}

/* ================= TOP BAR ================= */

.top-info-bar {
  background: var(--primary);
  padding-left: 280px;
  height: 36px;
}

.topbar-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
}

.info-left,
.info-right {
  font-size: 13px;
}

/* ================= NAVBAR ================= */

.main-navbar {
  background: #fff;
  padding-left: 250px;
  border-bottom: 1px solid var(--light);
}

.navbar-inner {
  padding: 14px 28px;
}

.main-navbar .nav-link {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
}

.main-navbar .nav-link:hover,
.main-navbar .nav-link.active {
  color: var(--secondary);
}

/* ================= ICONS ================= */

.home-icon {
  width: 22px !important;
  height: 22px !important;
  background: var(--success);
}

.nav-link:hover .nav-icon {
  background: var(--secondary);
}

/* ================= ACTIONS ================= */

.header-actions {
  display: flex;
  gap: 10px;
}

.btn-ui.outline:hover .btn-icon-svg {
  background: #fff;
}


/* ================= SEARCH PANEL ================= */

.search-panel {
  position: fixed;
  top: 0;
  right: -380px;
  width: 360px;
  height: 100vh;
  background: #fff;
  box-shadow: -10px 0 25px rgba(0, 0, 0, 0.15);
  transition: 0.35s ease;
  z-index: 9999;
}

.search-panel.active {
  right: 0;
}

.search-inner {
  padding: 24px;
  margin-top: 120px;
}

@media (max-width: 1199px) {
  /* LOGO */
  .logo-overlay {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .logo-overlay a {
    width: 100%;
    height: 64px;
    border-radius: 0;
  }

  .logo-overlay img {
    width: 130px;
  }

  /* TOP BAR */
  .top-info-bar {
    padding-left: 0;
  }

  .topbar-inner {
    flex-direction: column;
    gap: 6px;
    padding: 8px 12px;
  }

  /* NAVBAR */
  .main-navbar {
    padding-left: 0;
  }

  .navbar-inner {
    padding: 25px 5px 0 5px;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-left {
    display: none;
  }

  /* ACTIONS */
  .header-actions {
    justify-content: center;
    margin-top: 12px;
    flex-wrap: wrap;
  }

  .header-actions .btn-ui {
    width: 100%;
    justify-content: center;
  }

  .btn-search {
    width: 42px !important;
  }
}
/* Mobile */
@media (max-width: 768px) {
  .search-panel {
    width: 100%;
  }
}
