.latest-articles-left.border {
  border: 4px solid #ffd9da;
}

/* CARD */
.article-card {
  border-radius: 20px;
}
.latest-articles .article-card {
  border: 2px solid #DFE3F1;
}



/* ICON BUTTON */
.btn-vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 5px;
  font-size: var(--font-sm);
  letter-spacing: 1px;
}

/* SMALL ICON CIRCLE */

.icon-circle {
  width: 32px;
  height: 32px;
  background: #f0f0f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* TITLE */

.article-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}
