.latest-articles-left {
  border: 4px solid #ffd9da !important;
}

/* CARD*/

.card-item {
  border: 2px solid #dfe3f1;
  border-radius: 20px;
}

/* ICON BUTTON */
.btn-vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 5px;
  font-size: var(--font-sm);
  letter-spacing: 1px;
}

.icon-export-email,.icon-author,.icon-stickyNotes,.icon-download{
  background-color: var(--dark);
}

.icon-pdf {
  width: 22px !important;
  height: 22px !important;
  background-color: var(--pageGray);
}

/* SMALL ICON BUTTON CIRCLE */

.icon-circle {
  width: 32px;
  height: 32px;
  background: #f0f0f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

