.publications-section {
  background: #fff;
}

/* BORDER */

#pubCarousel .border {
  border-color: #e9f4f8;
}

/* CARD */

.mag-card {
  background: #fff;
  transition: 0.3s;
}

.mag-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

/* BADGE */

.badge-info {
  background: #f6f8ff;
  font-size: var(--font-sm);
  border-radius: 15px;
  color: var(--primary);
}

/* META */

.publications-meta {
  display: flex;
  gap: 20px;
  margin: 14px 0;
}

/*CAROUSEL TOP LEFT*/

.publications-top-left {
  width: 230px !important;
}

/* ICONS */

.pdf-icon {
  width: 30px !important;
  height: 30px !important;
  background-color: var(--pageGray);}

.icon-book ,.icon-file ,.icon-calendar,.left-icon  {
  background-color: var(--dark);
}
.right-icon{
  background-color: var(--secondary);
}

.left-icon  {
  background-color: var(--gray);
}

/* BADGE */

.card-badge{
  font-size: 13px;
}
/*=================================*/

.bg-btnlight{
  background-color: #F5F7FF ;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .publications-meta {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .mag-card {
    padding: 20px;
  }

  .mag-card h6 {
    font-size: 15px;
  }

  .publications-meta {
    flex-direction: column;
    gap: 8px;
  }

  .row.align-items-stretch {
    align-items: start;
  }

  .object-fit-cover {
    min-height: 140px;
  }
}
