<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <span class="sub-title mb-1 d-block"> Dergi Amacı ve Kapsamı </span>

        <h5 class="section-title mb-2">Profuture Teknoloji Dergisi</h5>

        <p class="section-desc mb-4">
          Profuture Teknoloji Dergisi, 2022 yılında yayın hayatına başlayan;
          teknoloji, inovasyon, dijital dönüşüm ve geleceğin üretim modelleri
          ekseninde sosyal bilimler ile mühendislik ve fen bilimlerini bir araya
          getiren, uluslararası hakemli ve açık erişimli bir akademik yayındır.
        </p>

        <!-- BUTTON -->
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#" class="btn-ui outline primary rounded-pill">
            <span>Detay</span>
            <span class="btn-icon-svg detail-right-icon bg-ui-dark"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
