<section class="cta-section py-5">
  <div class="container">
    <div class="cta-wrapper row align-items-center g-4">

      <div class="col-lg-3 text-center">
        <img
          src="assets/images/cta_left1.png"
          class="cta-left"
          alt="Makale çağrısı görseli"
        />
      </div>

      <div class="col-lg-6 d-flex flex-column text-center align-items-center">

        <div class="cta-icon mb-2">
          <img
            src="assets/icons/megaphone.svg"
            class="cta-icon-img"
            alt="Duyuru ikonu"
          />
        </div>

        <p class="sub-title mb-1">Makale Çağrısı</p>

        <h2 class="section-title section-title--sm mb-3">
          Türkiye Ulusal Dijital Veri ve Altyapıları
        </h2>

        <p class="section-desc px-lg-5 px-1">
         Bu dosya kapsamında; ulusal ölçekte dijital veri yönetimi, kamu ve özel sektörde teknoloji altyapıları, yapay zekâ uygulamaları, büyük veri analitiği, siber güvenlik, akıllı sistemler ve dijital dönüşüm odaklı özgün, güncel ve disiplinlerarası akademik çalışmalar değerlendirilecektir.
        </p>

        <a
          href="/submit"
          class="btn-ui danger rounded-pill btn-wide mt-3 d-flex align-items-center justify-content-between"
        >
          Makale Gönder
          <span class="btn-icon-svg right-icon bg-white"></span>
        </a>

      </div>

      <div class="col-lg-3 text-center">
        <img
          src="assets/images/cta_right.png"
          class="img-fluid cta-stack"
          alt="Makale görseli"
        />
      </div>

    </div>
  </div>
</section>
