<section class="cta-section py-5">
  <div class="container">
    <div class="cta-wrapper row align-items-center g-4">

      <!-- LEFT STACKED IMAGES -->
      <div class="col-lg-3 text-center m-0 p-0">
        <img src="assets/images/cta_left1.png" class="cta-left" alt="" />
      </div>

      <!-- CENTER CONTENT -->
      <div class="align-items-center col-lg-6 d-flex flex-column text-center">

        <div class="cta-icon mb-2">
          <img src="assets/icons/megaphone.svg" width="40" />
        </div>

        <span class="sub-title d-block mb-1"> Makale Çağrısı </span>

        <h5 class="section-title mb-3">
          Türkiye Ulusal Dijital Veri ve Altyapıları
        </h5>

        <p class="section-desc px-lg-5 px-1">
          Bu dosya kapsamında; ulusal ölçekte dijital veri yönetimi, kamu ve
          özel sektörde teknoloji altyapıları, yapay zekâ uygulamaları, büyük
          veri analitiği, siber güvenlik, akıllı sistemler ve dijital dönüşüm
          odaklı özgün, güncel ve disiplinlerarası akademik çalışmalar
          değerlendirilecektir.
        </p>

        <!-- CTA BUTTON -->
        <a
          href="#"
          class="btn-ui danger rounded-pill px-4 py-2 mt-3 d-flex align-items-center justify-content-between btn-wide"
        >
          Makale Gönder
          <span class="btn-icon-svg right-icon bg-white"></span>
        </a>

      </div>

      <!-- RIGHT PHONE -->
      <div class="col-lg-3 text-center">
        <img
          src="assets/images/cta_right.png"
          class="img-fluid cta-stack"
          alt=""
        />
      </div>

    </div>
  </div>
</section>
