<footer class="text-white pt-5 site-footer">
  <div class="container py-3">
    <div class="row g-4 align-items-center">
      
      <!-- ITEM -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="d-flex align-items-center gap-3">
          <div class="border rounded-circle p-2 d-flex align-items-center justify-content-center">
            <span class="btn-icon-svg bg-white icon-id-card"></span>
          </div>

          <div class="d-flex flex-column text-start">
            <small class="fw-light">Dergi Editörü</small>
            <div class="fw-semibold">Prof. Dr. Elif Başkaya Acar</div>
            <div class="d-flex align-items-center gap-1">
              <span class="btn-icon-svg bg-danger icon-send-email"></span>
              <span class="small">elif@gmail.com</span>
            </div>
          </div>
        </div>
      </div>

      <!-- ITEM -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="d-flex align-items-center gap-3">
          <div class="border rounded-circle p-2 d-flex align-items-center justify-content-center">
            <span class="btn-icon-svg bg-white icon-message"></span>
          </div>

          <div class="d-flex flex-column text-start">
            <small class="fw-light">Mail Adresi</small>
            <div class="fw-semibold">profuture@gmail.com</div>
          </div>
        </div>
      </div>

      <!-- ITEM -->
      <div class="col-12 col-md-12 col-lg-4">
        <div class="d-flex align-items-center gap-3">
          <div class="border rounded-circle p-2 d-flex align-items-center justify-content-center">
            <span class="btn-icon-svg bg-white icon-location"></span>
          </div>

          <div class="d-flex flex-column text-start">
            <small class="fw-light">Profuture Teknoloji Yayınevi</small>
            <div class="fw-light">Ahmet Kemal Mah. 1245. Cad. No:10</div>
            <small class="fw-light">Çankaya / Ankara</small>
          </div>
        </div>
      </div>

    </div>

    <hr class="border-light opacity-25 my-4" />

    <p class="text-center small fw-lighter px-lg-5 fst-italic letter-spacing footer-desc">
     Bu sitede yer alan tüm yazılı, görsel ve uygulama içerikleri kaynak gösterilmeden kullanılamaz. Site içerisinde sunulan bilgiler yalnızca bilgilendirme amacıyla hazırlanmış olup, bu bilgilerin kullanımından doğabilecek her türlü sorumluluk kullanıcıya aittir. Siteye erişim sağlayan kullanıcılar, bu şartları okumuş, anlamış ve kabul etmiş sayılır.
    </p>
  </div>

  <!-- BOTTOM -->
  <div class="bg-danger text-center py-2 small fw-light">
    Profuture Teknoloji - Tüm Hakları Saklıdır. © 2025
  </div>
</footer>
