<footer class="bg-primary text-white pt-5">
  <div class="container">
    <div class="row text-center text-lg-start g-4 align-items-center">
      <!-- ITEM -->
      <div class="col-lg-4">
        <div
          class="d-flex align-items-center gap-3 justify-content-center justify-content-lg-start"
        >
          <div class="border rounded-circle p-2">
            <span class="btn-icon-svg icon-id-card"></span>
          </div>

          <div>
            <small class="opacity-75">Dergi Editörü</small>
            <div class="fw-semibold">Prof. Dr. Elif Başkaya Acar</div>
            <span class="text-danger small">elif@gmail.com</span>
          </div>
        </div>
      </div>

      <!-- ITEM -->
      <div class="col-lg-4">
        <div class="d-flex align-items-center gap-3 justify-content-center">
          <div class="border rounded-circle p-2">
            <span class="btn-icon-svg icon-mail"></span>
          </div>

          <div>
            <small class="opacity-75">Mail Adresi</small>
            <div class="fw-semibold">profuture@gmail.com</div>
          </div>
        </div>
      </div>

      <!-- ITEM -->
      <div class="col-lg-4">
        <div
          class="d-flex align-items-center gap-3 justify-content-center justify-content-lg-end"
        >
          <div class="border rounded-circle p-2">
            <span class="btn-icon-svg icon-location"></span>
          </div>

          <div>
            <small class="opacity-75">Profuture Teknoloji Yayınevi</small>
            <div class="fw-semibold">Ahmet Kemal Mah. 1245. Cad. No:10</div>
            <small>Çankaya / Ankara</small>
          </div>
        </div>
      </div>
    </div>

    <hr class="border-light opacity-25 my-4" />

    <p class="text-center small opacity-75 px-lg-5">
      Bu sitede yer alan tüm yazılı, görsel ve uygulama içerikleri kaynak
      gösterilmeden kullanılamaz. Site içerisinde sunulan bilgiler yalnızca
      bilgilendirme amacıyla hazırlanmış olup, bu bilgilerin kullanımından
      doğabilecek her türlü sorumluluk kullanıcıya aittir.
    </p>
  </div>

  <!-- BOTTOM -->
  <div class="bg-danger text-center py-2 small">
    Profuture Teknoloji - Tüm Hakları Saklıdır. © 2025
  </div>
</footer>
