
    <!-- ================= HEADER ================= -->

    <header class="site-header">
      <!-- LOGO OVERLAY -->
      <div class="logo-overlay">
        <a href="#">
          <img src="assets/images/logo.png" alt="Profuture Logo" />
        </a>
      </div>

      <!-- TOP BAR -->
      <div class="top-info-bar">
        <div class="topbar-inner">
          <div class="info-left">
             <span class="btn-icon-svg icon-mail"></span>
            <span>profuture@gmail.com</span>
          </div>

          <div class="info-right">
            <span>ISSN: <strong>345-255</strong></span>
            <span>Başlangıç: <strong>2025</strong></span>
            <span>Periyot: <strong>Yılda 2 Sayı</strong></span>
          </div>
        </div>
      </div>

      <!-- NAVBAR -->
      <nav
        class="navbar navbar-expand-lg main-navbar justify-content-md-end w-100"
      >
        <div class="navbar-inner">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse w-100" id="mainNavbar">

            <!-- SOL (HOME ICON) -->
            <ul class="navbar-nav nav-left">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span class="nav-icon"></span>
                </a>
              </li>
            </ul>

            <!-- SAĞ (DİĞER MENÜLER) -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Amaç ve Kapsam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Etik İlkeler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Makale Çağrıları</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sayılar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">İletişim</a>
              </li>
            </ul>

            <!-- BUTONLAR -->
            <div class="header-actions d-flex align-items-center gap-2">

              <a href="#" class="btn btn-primary d-flex align-items-center fw-lighter rounded-pill">
                <span class="bg-white btn-icon-svg me-2 icon-kurul"></span>
                Dergi Kurulu
              </a>

              <a href="#" class="btn btn-success d-flex align-items-center fw-lighter rounded-pill">
                <span class="bg-white btn-icon-svg me-2 icon-author"></span>
                Yazar Rehberi
              </a>

              <!-- SEARCH -->
              <button class="btn btn-outline-primary btn-icon btn-search">
               <span class="btn-icon-svg icon-search"></span>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>