<section class="hero-section">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <!-- SOL CONTENT -->
      <div class="col-lg-6 hero-content text-white">
        <h2 class="hero-desc">Profuture Teknoloji Dergisi</h2>
        <h1 class="hero-title">Son Sayı Yayında</h1>

        <p class="hero-lead">
          Protufure teknoloji mekanizmaları değişikliği alanlarında özgün
          akademik çalışmalar içeren yeni sayıya şimdi erişin..
        </p>

        <div class="hero-meta mb-5">
          <div class="meta-item">
            <span class="btn-icon-svg icon-book"></span>
            <span>Cilt 2</span>
          </div>

          <div class="meta-item">
            <span class="btn-icon-svg icon-file"></span>
            <span>Sayı 7</span>
          </div>

          <div class="meta-item">
            <span class="btn-icon-svg icon-calendar"></span>
            <span>Haziran 2025</span>
          </div>
        </div>

        <a
          href="#"
          class="btn btn-secondary btn-pill mt-3 d-flex align-items-center justify-content-center gap-2 btn-wide"
        >
          <span>Dergiyi Görüntüle</span>
          <span class="btn-icon-svg right-icon"></span>
        </a>
      </div>

      <!-- SAĞ IMAGE -->
      <div class="col-lg-6 hero-image-wrap">
        <img
          src="../assets//images/hero_magazine.png"
          alt="Dergi"
          class="hero-image"
        />
      </div>
    </div>
  </div>
</section>
