<section class="hero-section">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <!-- SOL CONTENT -->
      <div
        class="col-lg-6 d-flex flex-column align-items-center align-items-lg-start hero-content text-white px-3 px-md-4 px-lg-0"
      >
        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <h2 class="lh-1">Profuture Teknoloji Dergisi</h2>
          <h1 class="fw-bolder">Son Sayı Yayında</h1>

          <p
            class="fw-lighter my-3 hero-lead mx-auto mx-lg-0 text-center text-lg-start hero-desc"
          >
            Protufure teknoloji mekanizmaları değişikliği alanlarında özgün
            akademik çalışmalar içeren yeni sayıya şimdi erişin..
          </p>
        </div>

        <div class="hero-meta mx-2 d-flex gap-4 mb-5">
          <div class="d-flex align-items-center gap-2">
            <span class="btn-icon-svg bg-white icon-book"></span>
            <span>Cilt 2</span>
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="btn-icon-svg bg-white icon-file"></span>
            <span>Sayı 7</span>
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="btn-icon-svg bg-white icon-calendar"></span>
            <span>Haziran 2025</span>
          </div>
        </div>

        <!-- HERO BUTTON -->
        <a
          href="#"
          class="btn-ui secondary rounded-pill d-flex align-items-center justify-content-between gap-2 btn-wide"
        >
          <span class="fw-ligh hero-btn">Dergiyi Görüntüle</span>
          <span class="btn-icon-svg right-icon hero-right-icon bg-white"></span>
        </a>
      </div>

      <!-- SAĞ IMAGE -->
      <div class="col-lg-6 hero-image-wrap">
        <img
          src="../assets/images/hero_magazine.png"
          alt="Dergi"
          class="hero-image"
        />
      </div>
    </div>
  </div>
</section>
