<section class="py-5 latest-articles">
  <div class="container">
    <div class="row g-4 align-items-start">

      <!-- LEFT COVER -->
      <div class="col-12 col-lg-4">
        <div
          class="border rounded-4 p-3 text-center
          bg-white position-relative shadow-sm
          latest-articles-left"
        >

          <!-- RIBBON -->
          <span
            class="badge bg-danger fw-medium
            position-absolute start-0
            top-50 translate-middle-y
            rounded-start-0"
          >
            <span class="btn-vertical-text">
              Son Sayı
            </span>
          </span>

          <img
            src="assets/images/latest-articles.png"
            class="img-fluid rounded-3"
            alt="Profuture dergisi son sayı kapağı"
          />

          <!-- ACTIONS -->
          <div
            class="d-flex justify-content-center
            gap-2 flex-wrap"
          >

            <button
              class="btn-ui outline primary btn-icon"
            >
              <span
                class="btn-icon-svg icon-download
                bg-ui-dark"
              ></span>
            </button>

            <a
              href="/son-sayi"
              class="btn-ui secondary
              rounded-pill px-4
              d-flex align-items-center gap-2"
            >
              <span
                class="btn-icon-svg icon-eye
                bg-white"
              ></span>
              Görüntüle
            </a>

          </div>
        </div>
      </div>

      <!-- RIGHT CONTENT -->
      <div class="col-12 col-lg-8">

        <!-- HEADER -->
        <div
          class="d-flex flex-column flex-md-row
          justify-content-between
          align-items-md-center
          mb-4 gap-3"
        >
          <div>
            <span class="sub-title d-block mb-1">
              Profuture Teknoloji Dergisi
            </span>
            <h5 class="fw-bold mb-0 text-danger">
             Güncel Yazılar
            </h5>
          </div>

          <a
            href="/yazilar"
            class="btn-ui outline primary
            fw-normal d-flex
            align-items-center
            gap-2 rounded-pill"
          >
            Tümünü Görüntüle
            <span
              class="btn-icon-svg
              right-icon bg-ui-dark"
            ></span>
          </a>
        </div>

        <!-- LIST -->
        <div id="articleList"></div>

      </div>
    </div>
  </div>
</section>
