<section class="py-5">
  <div class="container">
    <div class="row g-4 align-items-start">
      <!-- LEFT COVER -->
      <div class="col-lg-4">
        <div
          class="border rounded-4 p-3 text-center bg-white position-relative shadow-sm latest-articles-left"
        >
          <!-- RIBBON -->
          <span
            class="badge bg-danger fw-medium position-absolute rounded-start-0 start-0 top-50 translate-middle-y"
          >
            <span class="btn-vertical-text"> Son Sayı </span>
          </span>

          <img
            src="assets/images/latest-articles.png"
            class="img-fluid rounded-3 mb-3"
            alt=""
          />

          <!-- ACTIONS -->
          <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-outline-light btn-circle">
              <span class="btn-icon-svg icon-download"></span>
            </button>

            <button
              class="btn btn-secondary rounded-pill px-4 d-flex align-items-center justify-content-between gap-2"
            >
              <span class="btn-icon-svg icon-eye bg-white"></span>
              <span>Görüntüle</span>
            </button>
          </div>
        </div>
      </div>

      <!-- RIGHT CONTENT -->
      <div class="col-lg-8">
        <!-- HEADER -->
        <div
          class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2"
        >
          <div>
            <span class="sub-title d-block mb-1">
              Profuture Teknoloji Dergisi
            </span>
            <h6 class="fw-bold mb-0 text-danger">Güncel Yazılar</h6>
          </div>

          <a
            href="#"
            class="btn btn-outline-light fw-normal mt-3 d-flex align-items-center justify-content-between gap-2 rounded-pill py-3"
          >
            <span>Tümünü Görüntüle</span>
            <span class="btn-icon-svg right-icon right-icon"></span>
          </a>
        </div>

        <!-- ARTICLE LIST -->

        <!-- ITEM -->
        <div class="card mb-3 shadow-sm border-0">
          <div class="card-body card-item">
            <div
              class="d-flex justify-content-between align-items-end flex-wrap gap-3"
            >
              <!-- LEFT -->
              <div>
                <div class="mb-2">
                  <span class="badge bg-secondary fw-normal">İklim</span>
                  <span class="badge bg-light text-primary fw-normal border"
                    >Araştırma Makalesi</span
                  >
                </div>

                <div
                  class="d-flex align-items-sm-start gap-3 justify-content-center"
                >
                  <span class="btn-icon-svg icon-pdf"></span>
                  <h6 class="fw-bold mb-2">
                    Türkiye'nin Teknoloji Politikaları ve Döngüsel Ekonomi
                  </h6>
                </div>

                <div class="text-muted small d-flex gap-3 flex-wrap">
                  <div class="d-flex align-items-center gap-2">
                    <span class="icon-circle">
                      <span class="btn-icon-svg icon-author"></span>
                    </span>
                    <span class="text-dark">Sayı:</span>
                    <strong class="text-black">12-18</strong>
                  </div>

                  <div class="d-flex align-items-center gap-2">
                    <span class="icon-circle">
                      <span class="btn-icon-svg icon-stickyNotes"></span>
                    </span>

                    <span class="text-dark">
                      Elif Başkaya Acar, Emre Taran, Halil Başar
                    </span>
                  </div>
                </div>
              </div>

              <!-- ACTIONS -->
              <div class="d-flex gap-2 align-items-center">
                <button class="btn btn-outline-light btn-circle">
                  <span class="btn-icon-svg icon-export-email"></span>
                </button>

                <button class="btn btn-outline-light btn-circle">
                  <span class="btn-icon-svg icon-download"></span>
                </button>

                <button
                  class="btn btn-secondary rounded-pill d-flex align-items-center justify-content-between gap-2 px-4 py-3"
                >
                  <span class="btn-icon-svg icon-eye bg-white"></span>
                  <span>Görüntüle</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
