<section class="publications-section py-5">
  <div class="container">
    <!-- HEADER -->
    <div
      class="d-flex align-items-center justify-content-between gap-3 mb-4 flex-wrap"
    >
      <div
        class="d-flex align-items-center justify-content-between gap-0 gap-lg-5 publications-header"
      >
        <div>
          <span class="sub-title">Sayılar</span>
          <h5 class="section-title mb-1">Dergiler</h5>
        </div>

        <!-- ARROWS -->

        <div class="ms-md-2 d-flex gap-2">
          <button id="prevPub" class="btn-ui light px-2">
            <span class="btn-icon-svg left-icon bg-ui-gray"></span>
          </button>
          <button id="nextPub" class="btn-ui light px-2 bg-btnlight">
            <span class="btn-icon-svg right-icon bg-ui-secondary"></span>
          </button>
        </div>
      </div>

      <div class="publications-top-right">
        <a
          href="#"
          class="btn-ui outline primary fw-normal mt-3 d-flex align-items-center justify-content-between gap-2 rounded-pill"
        >
          <span>Tümünü Görüntüle</span>
          <span class="btn-icon-svg right-icon bg-ui-dark"></span>
        </a>
      </div>
    </div>

    <!-- OWL CAROUSEL -->
    <div class="owl-carousel" id="pubSlider">
     <div id="pubCards"></div>
    </div>
  </div>
</section>
