<section class="publications-section py-5">
  <div class="container">
    <!-- HEADER -->
    <div
      class="d-flex align-items-center justify-content-between gap-3 mb-4 flex-wrap"
    >
      <div
        class="publications-top-left d-flex align-items-center justify-content-between"
      >
        <div>
          <span class="sub-title">Sayılar</span>
          <h5 class="section-title mb-1">Dergiler</h5>
        </div>
        <!-- ARROWS -->
        <div class="ms-md-2 d-flex gap-2">
          <button
            class="btn btn-light"
            data-bs-target="#pubCarousel"
            data-bs-slide="prev"
          >
            <span class="card-icon-svg left-icon"></span>
          </button>
          <button
            class="btn btn-light"
            data-bs-target="#pubCarousel"
            data-bs-slide="next"
          >
            <span class="card-icon-svg right-icon"></span>
          </button>
        </div>
      </div>
      <div class="publications-top-right">
        <a
          href="#"
          class="btn btn-outline-light fw-light mt-3 d-flex align-items-center justify-content-between gap-2 rounded-pill"
        >
          <span>Tümünü Görüntüle</span>
          <span class="btn-icon-svg right-icon right-icon"></span>
        </a>
      </div>
    </div>

    <!-- CAROUSEL -->
    <div id="pubCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- SLIDE -->
        <div class="carousel-item active">
          <div class="row g-4">
            <!-- CARD 1 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="mag-card p-3 rounded-4 border h-100">
                <div class="row g-3 align-items-stretch">
                  <!-- IMAGE -->
                  <div class="col-6">
                    <img
                      src="assets/images/card_img.jpg"
                      class="img-fluid rounded-3 h-100 object-fit-cover"
                      alt=""
                    />
                  </div>

                  <!-- CONTENT -->
                  <div class="col-6 d-flex flex-column justify-content-between">
                    <div>
                      <div class="d-flex justify-content-between mb-2">
                        <span class="card-icon-svg pdf-icon"></span>
                        <span class="badge bg-info rounded-pill">YENİ</span>
                      </div>

                      <span
                        class="badge badge-info rounded-pill mb-2 fw-light w-25"
                      >
                        Dergi
                      </span>

                      <h6 class="text-primary fw-bold mb-2">
                        Teknoloji ve Dijital Dergisi
                      </h6>

                      <!-- META -->
                      <div class="publications-meta mb-4 d-flex flex-wrap">
                        <div class="d-flex align-items-center gap-2">
                          <span class="card-icon-svg icon-book"></span>
                          <span class="text-dark fw-light">Cilt:</span>
                          <strong class="text-black">2</strong>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                          <span class="card-icon-svg icon-file"></span>
                          <span class="text-dark fw-light">Sayı:</span>
                          <strong class="text-black">7</strong>
                        </div>

                        <div class="d-flex align-items-center gap-2 w-100">
                          <span class="card-icon-svg icon-calendar"></span>
                          <strong class="text-black">Haziran 2025</strong>
                        </div>
                      </div>
                    </div>

                    <!-- ACTIONS -->
                    <div class="d-flex gap-2">
                      <button
                        class="btn btn-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg icon-eye bg-white"></span>
                      </button>

                      <button
                        class="btn btn-outline-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg icon-download"></span>
                      </button>

                      <button
                        class="btn btn-outline-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg right-icon"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- CARD 2 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="mag-card p-3 rounded-4 border h-100">
                <div class="row g-3 align-items-stretch">
                  <!-- IMAGE -->
                  <div class="col-6">
                    <img
                      src="assets/images/card_img.jpg"
                      class="img-fluid rounded-3 h-100 object-fit-cover"
                      alt=""
                    />
                  </div>

                  <!-- CONTENT -->
                  <div class="col-6 d-flex flex-column justify-content-between">
                    <div>
                      <div class="d-flex justify-content-between mb-2">
                        <span class="card-icon-svg pdf-icon"></span>
                        <span class="badge bg-info rounded-pill">YENİ</span>
                      </div>

                      <span
                        class="badge badge-info rounded-pill mb-2 fw-light w-25"
                      >
                        Dergi
                      </span>

                      <h6 class="text-primary fw-bold mb-2">
                        Teknoloji ve Dijital Dergisi
                      </h6>

                      <!-- META -->
                      <div class="publications-meta mb-4 d-flex flex-wrap">
                        <div class="d-flex align-items-center gap-2">
                          <span class="card-icon-svg icon-book"></span>
                          <span class="text-dark fw-light">Cilt:</span>
                          <strong class="text-black">2</strong>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                          <span class="card-icon-svg icon-file"></span>
                          <span class="text-dark fw-light">Sayı:</span>
                          <strong class="text-black">7</strong>
                        </div>

                        <div class="d-flex align-items-center gap-2 w-100">
                          <span class="card-icon-svg icon-calendar"></span>
                          <strong class="text-black">Haziran 2025</strong>
                        </div>
                      </div>
                    </div>

                    <!-- ACTIONS -->
                    <div class="d-flex gap-2">
                      <button
                        class="btn btn-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg icon-eye bg-white"></span>
                      </button>

                      <button
                        class="btn btn-outline-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg icon-download"></span>
                      </button>

                      <button
                        class="btn btn-outline-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg right-icon"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- CARD 3 -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="mag-card p-3 rounded-4 border h-100">
                <div class="row g-3 align-items-stretch">
                  <!-- IMAGE -->
                  <div class="col-6">
                    <img
                      src="assets/images/card_img.jpg"
                      class="img-fluid rounded-3 h-100 object-fit-cover"
                      alt=""
                    />
                  </div>

                  <!-- CONTENT -->
                  <div class="col-6 d-flex flex-column justify-content-between">
                    <div>
                      <div class="d-flex justify-content-between mb-2">
                        <span class="card-icon-svg pdf-icon"></span>
                        <span class="badge bg-info rounded-pill">YENİ</span>
                      </div>

                      <span
                        class="badge badge-info rounded-pill mb-2 fw-light w-25"
                      >
                        Dergi
                      </span>

                      <h6 class="text-primary fw-bold mb-2">
                        Teknoloji ve Dijital Dergisi
                      </h6>

                      <!-- META -->
                      <div class="publications-meta mb-4 d-flex flex-wrap">
                        <div class="d-flex align-items-center gap-2">
                          <span class="card-icon-svg icon-book"></span>
                          <span class="text-dark fw-light">Cilt:</span>
                          <strong class="text-black">2</strong>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                          <span class="card-icon-svg icon-file"></span>
                          <span class="text-dark fw-light">Sayı:</span>
                          <strong class="text-black">7</strong>
                        </div>

                        <div class="d-flex align-items-center gap-2 w-100">
                          <span class="card-icon-svg icon-calendar"></span>
                          <strong class="text-black">Haziran 2025</strong>
                        </div>
                      </div>
                    </div>

                    <!-- ACTIONS -->
                    <div class="d-flex gap-2">
                      <button
                        class="btn btn-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg icon-eye bg-white"></span>
                      </button>

                      <button
                        class="btn btn-outline-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg icon-download"></span>
                      </button>

                      <button
                        class="btn btn-outline-secondary rounded-circle action-icons"
                      >
                        <span class="card-icon-svg right-icon"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
